*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', Arial;
}
@font-face {
  font-family: 'Herculanum';
  src: url('/assets/Herculanum-font.ttf') format('truetype');
}
body{
  background-color: #1e2f4e;
  color: #fff;
  
}
body::after {
  content: "";
  height: 100%;
  background: url(assets/bg-alt.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
}
.stretch::after{
  height:140%;
}
.header{
  margin: 50px auto 0;
  text-align: center;
  fill: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__text{
  font-family: 'Herculanum', Arial;
  width:150px;
  text-align:left;
  font-weight: 300;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: 1px;
}
.info{
  color:#fff;
  margin: 0 auto;
  line-height: 150%;
  font-weight: 300;
}
.main {
    margin: 20px 20% 0;
}
.main__form {
  margin-top:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__title{
  color: #fff;
  font-weight: 300;
  font-size: 24px;
}
.input{
  display: flex;
  margin-right: 5%;
  flex-direction: column;
}
.input__box{
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border:none;
  margin-top: 15px;
  padding: 10px 15px;
  font-size:22px;
  margin-bottom:10px;
  border-radius: 5px;
}
.input__submit{
  background-color: rgba(255, 255, 255, 0.8);
  color: #182742;
  padding: 10px 15px;
  font-size:22px;
  border:none;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom:10px;
  font-weight: 600;
  text-transform: uppercase;
}
.input__submit:hover{
  cursor: pointer;
}
.input__label{
  font-weight: 600;
}
.result {
  margin-top:50px;
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  color: #182742;
  display: none;
}
.result--flex{
  display: flex;
  flex-direction: column;
}
.result--grid {
  display: grid; 
  grid-template-columns: 200px 1fr; 
  grid-template-rows: 1fr; 
  gap: 10px 15px; 
  grid-template-areas: 
    ". ."; 
}
.result__title{
  font-size: 28px;
  font-weight: 600;
  font-family: 'Herculanum';
}
.result__info{
  font-size:18px;
  font-weight: 600;
  margin-top:15px;
  margin-bottom:30px;
  color: #3d4c6b;
}
#ep__date{
  margin-top:5px;
}
.result__image{
  width: 200px;
  grid-column: 1 / 2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }